<%- include('../partials/head') %>
<div class="container mc">
    <h5 class="center-align">Lifestle Photographs</h5>
    <div class="row center">
        <% for(var life of lifestyles ){ %>
        <div class="col l5 m8 offset-l1 offset-m2 s12">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img height="500px" class="activator" src="/uploads/lifestyles/<%=life.imageUrl%>">
              </div>
            </div>
            <% if(isAuthenticated === true) {%>
            <a href="/lifestyle/delete/<%= life.id %>">Delete</a>
            <% } %>
        </div>
        <% } %>
    </div>
    <% if(isAuthenticated === true) {%>
    <div class="row">
            <div class="">
                <div class="col m8 offset-m2 s12">
                    <form action="/lifestyle/create" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="input-field col s12">
                                <input name="model_name" type="text" class="validate"/>
                                <label for="model_name">Event</label>
                            </div>
                            <label>Select an Image</label>
                            <div class="file-field input-field">
                                <div class="btn grey small">
                                    <span>Browse</span>
                                    <input type="file" name="imageUrl">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text"
                                    placeholder="File Upload">
                                </div>
                            </div>
                         <input type="submit" class="btn" name="" value="Submit"/>
                     </form>
                 </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<% if (pages > 0) { %>
        <ul class="pagination center-align">
            <% if (current == 1) { %>
                <li class="disabled"><a>First</a></li>
            <% } else { %>
                <li><a href="/lifestyle/1">First</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="active"><a><%= i %></a></li>
                <% } else { %>
                    <li><a href="/lifestyle/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="disabled"><a>Last</a></li>
            <% } else { %>
                <li><a href="/lifestyle/<%= pages %>">Last</a></li>
            <% } %>
        </ul>
    <% } %>
<%- include('../partials/foot') %>
